<style>
        body{
           background-color: #fdffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23ececec' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
        }
    </style>



<div class="top-space"></div>
<div class="card-container backgroundpattern">
<% @equipment.each do |eq| %>

  <div class="card">
      <div class="equipment-card">
        <div class="card-image">
            <%= link_to cl_image_tag(eq.photos.first.key), equipment_path(eq)  %>
        </div>
      <div class="info">
        <div><p class="review"><i class="fas fa-star"></i><% star_rand_num = rand(4.0..5.0).round(1) %> <%= star_rand_num %><% rand_num = rand(10.0-500.0).round(2) %><div class="review_number">(<%= rand_num %>)</p></div>
      </div>
        <p class="title"><%= eq.title %></p>
        <p class="card_price">£<%= eq.price.round %></p>
      <%# <div class="book_now"> %>
        <%# <button class="card_button">Show me</button> %>

            <%# <button class="button"><%= link_to 'Show me', equipment_path(eq) %>
    <%# </div> %>
      </div>
    </div>
  </div>
<% end %>
</div>

 