<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <img class="navbar-logo" src="https://i.imgur.com/C9yAGzv.png"/>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Messages</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="card">
            <div class="equipment">
                <div class="image">
                   <img alt="kayak" src="https://images.unsplash.com/photo-1544443244-6d30db813769?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80" class="center">
                </div>
          
              <div class="info">
                <h1 class="title">Kayak</h1>
              <div class="book_now">
                    <button><a href="/equipment/">Book Now</a></button>
             </div>
      </div>
  </div>
</div>

<%# <div class="card-container">  
    <% @cocktails.each do |cocktail| %>
      <%# <div class="card-product"> %>
      <%# <% if cocktail.photo.attached? %> %>
        <%# <%= link_to cl_image_tag(cocktail.photo.key), cocktail_path(cocktail)  %> %>
      <%# <%end%> %>
        <%# <div class="card-product-infos"> %>
          <%# <h2><%= cocktail.name %> </h2> %>
          <%# <p><em>Created by <%=cocktail.user_name%></em></p> %>
          <%# <p><em>On <%=cocktail.created_at.strftime("%A, %b %d")%></em></p> %>
          <%# <div class="remove_btn"> %>
            <%# <%= link_to "Remove", cocktail_path(cocktail), method: :delete, :class => "btn btn-flat" %> %>
          <%# </div> %>
        <%# </div> %>
      <%# </div> %>
    <%# <%end%> %>
<%# </div> %> %>