<style>
        body{
           background-color: #fdffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23ececec' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
        }
    </style>


<div class="top-space"></div>




<div class="bannerprofilenew" style="background-color:white">
</div>
<div class="top-textnew">
  <h1>List it on here</h1>
  <h2 class="top-h2new">Then get back out there.</h2>
</div>





  <div class="profile-container">
    <div class="card1new">

           <img class="mountain" src="https://i.guim.co.uk/img/media/6088d89032f8673c3473567a91157080840a7bb8/413_955_2808_1685/master/2808.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=412cc526a799b2d3fff991129cb8f030" />
     
   
        
    
    </div>

      <div class="card2new">
<div class="form-container" style="background-image: url(#);">
  <div class="child-create-new">
      <%= simple_form_for(@equipment) do |f| %>
        <%= f.input :title %>
        <%= f.input :price %>
        <%= f.input :category %>
        <%= f.input :description %>
        <%= f.input :rules %>
        <%= f.input :location %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit :submit %>
      <% end %>
      <%= link_to "Return Home", root_path %>
  </div>
</div>
    </div>
  </div>
