<style>
        body{
           background-color: #fdffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23ececec' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
        }
    </style>

<div class="top-space"></div>

</div>
<div class="top-text">
  <h1>Check it out,</h1>
  <h2 class="top-h2">You're really going to love this one.</h2>
</div>



<div class="booking_container">
 
  <div class="booking-card">










    
  </div>
</div>


<div class="show-container">
    <div class="card1show">
      <div class="cardbox1-leftshow">
   
      <h1><%= @equipment.title %></h1>
      <p class="card-product-desc"><%= @equipment.description %></p>
      <hr>
      <p class="card-product-label"><i class="far fa-calendar-alt"></i> Cancellation Policy</p>
      <p class="card-product-label-desc">Free cancellation up to 24 hours before booking.</p>
      <p class="card-product-label"><i class="fas fa-ruler"></i> Rules for Renting</p>
      <p class="card-product-label-desc"><%= @equipment.rules %></p>




      <div class="card-product-infos">
      <h2>£<%= @equipment.price.round %> per day</h2>
      <% if @equipment.user == current_user %>
        <button class="button-show" style="width: 75px;"><%= link_to ' Edit ',  edit_equipment_path(@equipment) %></button>
        <button class="button-show" style="width: 75px;"><%= link_to 'Remove',  equipment_path(@equipment), method: :delete,  data: { confirm: "Are you sure?" }  %></button>
        <button class="button-show" style="width: 75px;"><%= link_to 'Back',  request.referer.present? ? request.referer : default_path %></button>
      <% else %>
        <button class="button-show" style="width: 75px;"><%= link_to 'Back',  request.referer.present? ? request.referer : default_path %></button>
      <% end %>
    </div>




<div class="email" onclick="this.classList.add('expand')">
      <div class="from">
        <div class="from-contents">
          <div class="name">Book Now</div>
        </div>
      </div>
    <div class="to">
      <div class="to-contents">
        <div class="topbar">
          <div class="name-large">Book Now</div>
          <div class="x-touch" onclick="document.querySelector('.email').classList.remove('expand');event.stopPropagation();">
            <div class="x">
              <div class="line1"></div>
              <div class="line2"></div>
            </div>
          </div>
        </div>
        <div class="bottom">
          <div class="row">
            <%= simple_form_for([@equipment, @booking]) do |f| %>
            <%= f.input :start_date %>
            <%= f.input :end_date %> 
            <%= f.submit :submit %> 
          <% end %>
          </div>
          <div class="row">
            <svg class="medium" viewBox="0 0 24 24">
              <style type="text/css" id="style2">
                .st0{fill:#3DD87F;}
                .st1{fill:#FFFFFF;}
              </style>
              <g id="Page-1" transform="translate(0,1)">
                <g id="Monogram">
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>







    </div>
    
  </div>
  </div>
      
      <div class="card2show">
             <div class="showphoto">
        <% @equipment.photos.each do |photo| %>
        <a href=""><%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %></a>
      <% end %>
    </div>
      </div>

    
  </div>
    </div>



<hr>
<div class="spacer">

    <h1>You may also like</h1>
    <ul>
      <li>
        <img src="https://www.cotswoldoutdoor.com/content/dam/uk/brands/1747.png" class="logo-img">
      </li>
      <li>
        <img img src="https://cdn.worldvectorlogo.com/logos/the-north-face-1.svg" class="logo-img">
      </li>
      <li>
        <img img src="https://cdn.worldvectorlogo.com/logos/arc-teryx.svg" class="logo-img">
      </li>
      <li>
        <img img src="https://cdn.worldvectorlogo.com/logos/patagonia.svg" class="logo-img">
      </li>
      <li>
        <img img src="https://www.cotswoldoutdoor.com/content/dam/uk/brands/1836.png" class="logo-img">
      </li>
    </ul>
    <h2>Find the kit to fuel your adventures.</h2>

  </div>







