<div class="form-container" style="background-image: url(#);">
  <div class="child-create">
    <div class="banner-h1">
      <h1>Book the <%= @equipment.title %></h1>
    </div>    
      <%= simple_form_for([@equipment, @booking]) do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date %>
        <%= f.submit :submit  %>
      <% end %>
      <%= link_to "Back", equipment_path(@equipment) %>
  </div>
</div>
