<%time = current_user.created_at %>
<%time = time.strftime("%B %Y") %>
<div class="main-page">
   <div class="bannerprofile" style="background-color:#4e5f6c">
</div>
<div class="top-text">
  <h1>Hi there,</h1>
  <h2 class="top-h2">We have a few things for you to look at.</h2>
</div>
</div>
  <div class="profile-container">
    <div class="card1">
      <div class="cardbox1-left">
        <i class="far-icon fa-user-circle"></i>
        <h4 class="page-h2"><%= current_user.email%></h4>
        <p class="time">Joined <%= time %></p>
        <p>Change password here</p>
        <a class="btn btn-secondary" href="<%= link_to "List new equipment", new_equipment_path %>
        <p><button><%= link_to "List new equipment", new_equipment_path %></button></p>

      </div>
      <div class="cardbox1-right">
        <h3 class="right-page-h2">Listed Equipment</h3>
        <div class="photosbox">
          <% if @equipment %>
            <% @equipment.each do |eq| %>
              <div class="profilephotos">
              <%= link_to cl_image_tag(eq.photos.first.key), equipment_path(eq) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

      <div class="card2">
        <h3 class="page-h2">EquipRent Travel</h2>
        <p class="travel-text">A Randonnée is the cycling holiday of a lifetime. These point-to-point adventures cover cycling’s most celebrated landscapes, challenging and inspiring riders in equal measure.</p>
        <p class="travel-text">Ex Duris Gloria</p>
        <a class="btn btn-secondary" href="">Learn more</a>
        <img src="https://cdn.iconscout.com/icon/free/png-256/mountain-2125950-1789239.png">
    </div>
  </div>



  <div class="profile-container">  
      <div class="card4">
              <img class="equipclub" src="https://i.imgur.com/Aa7W35W.png">
        <h3 class="page-h2">Equip Club</h2>
        <p class="travel-text">The Equip Club is a global community of passionate, active adventurists with exclusive access to our most sought after products, experiences and offers.
        A global network of more than 13,000 like-minded people and travel leaders connected by an easy-to-use app with hundreds of routes.</p>
        <a class="btn btn-secondary" href="">Learn more</a>
    </div>
  <div class="card5">
    <h3 class="page-h2">Bookings from you</h3>
      <% @bookings.each do |booking| %>
        <div class="bookingtext">
          You booked this <%= booking.equipment.title.downcase %>
          from <%= booking.start_date %>
          to <%= booking.end_date %>
        </div>
        <a class="btn btn-secondary" href="<%= link_to "Edit booking", new_equipment_path %>
        <button><%= link_to 'Edit booking',  edit_equipment_booking_path(booking.equipment,booking) %></button>
        <a class="btn btn-secondary" href="<%= link_to "Cancel booking", new_equipment_path %>
        <button><%= link_to 'Remove booking',  equipment_booking_path(booking.equipment,booking), method: :delete,  data: { confirm: "Are you sure?" }%></button>
      <% end %>
      
      <h3 class="page-h2">Bookings for you</h3>
    
      <h1><% current_user.incoming_bookings.each do |booking|%></h1>
     <div>
      Your <%= booking.equipment.title %> has beeen booked
      From <%= booking.start_date %>
      To <%= booking.end_date %>
     </div>
      <% end %>
  </div>
    </div>


