<%time = current_user.created_at %>
<%time = time.strftime("%B %Y") %>
<div class="main-page">
   <div class="bannerprofile" style="background-color:#03565a">
</div>
<div class="top-text">
  <h1>Hi there,</h1>
  <h2 class="top-h2">We have a few things for you to look at.</h2>
</div>
</div>
  <div class="profile-container">
    <div class="card1">
      <div class="cardbox1-left">
        <img class="icon" src="https://www.flaticon.com/svg/static/icons/svg/848/848043.svg" alt="John" style="width:80%; height:auto">
        <h2 class="page-h2"><%= current_user.email%></h2>
        <p class="time">Joined <%= time %></p>
        <p>Change password here</p>
        <p><button><%= link_to "List new equipment", new_equipment_path %></button></p>

      </div>
      <div class="cardbox1-right">
        <h2 class="right-page-h2">Listed Equipment</h2>
        <div class="photosbox">
          <% if @equipment %>
            <% @equipment.each do |eq| %>
              <div class="profilephotos">
              <%= link_to cl_image_tag(eq.photos.first.key), equipment_path(eq) %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

      <div class="card2">
        
    </div>
  </div>

    <div class="card2">
      <h1>Bookings from you</h1>
      <% @bookings.each do |booking| %>
        <div>
          You booked this <%= booking.equipment.title %>
          From <%= booking.start_date %>
          To <%= booking.end_date %>
        </div>
        <button><%= link_to 'Edit booking',  edit_equipment_booking_path(booking.equipment,booking) %></button>
        <button><%= link_to 'Remove booking',  equipment_booking_path(booking.equipment,booking), method: :delete,  data: { confirm: "Are you sure?" }%></button>
      <% end %>
      
      <h1>Bookings for you</h1>
    
      <h1><% current_user.incoming_bookings.each do |booking|%></h1>
     <div>
      Your <%= booking.equipment.title %> has beeen booked
      From <%= booking.start_date %>
      To <%= booking.end_date %>
     </div>
      <% end %>
</div>
   <a href="https://www.vecteezy.com/free-vector/contour">Contour Vectors by Vecteezy</a>
