<div class="top-space"></div>
<%time = current_user.created_at %>
<%time = time.strftime("%B %Y") %>

  <div class="container">
    <div class="card1">
      <img src="https://www.flaticon.com/svg/static/icons/svg/848/848043.svg" alt="John" style="width:30%">
      <h1><%= current_user.email%></h1>
      <p class="title">Joined <%= time %></p>
      <p>Seller Membership</p>
      <p><button><%= link_to "List new equipment", new_equipment_path %></button></p>
    </div>

      <div class="card2">
        <h1>Listed Equipment</h1>
        <div class="photosbox">
          <% if @equipment %>
          <% @equipment.each do |eq| %>
            <%= link_to cl_image_tag(eq.photos.first.key), equipment_path(eq) %>
          <% end %>
          <% end %>
          <!-- <div class="equipment_profile_button"> -->
            <!-- <p><button><%= link_to "Select your equipment", equipment_index_path %></button></p> -->
          <!-- </div> -->
        </div>
    </div>
  </div>

    <div class="card2">
      <h1>Bookings from you</h1>
      <% @bookings.each do |booking| %>
        <div>
          You booked this <%= booking.equipment.title %>
          From <%= booking.start_date %>
          To <%= booking.end_date %>
        </div>
        <button><%= link_to 'Edit booking',  edit_equipment_booking_path(booking.equipment,booking) %></button>
        <button><%= link_to 'Remove booking',  equipment_booking_path(booking.equipment,booking), method: :delete,  data: { confirm: "Are you sure?" }%></button>
      <% end %>
      
      <h1>Bookings for you</h1>
    
      <h1><% current_user.incoming_bookings.each do |booking|%></h1>
     <div>
      Your <%= booking.equipment.title %> has beeen booked
      From <%= booking.start_date %>
      To <%= booking.end_date %>
     </div>
      <% end %>
</div>
